[submodule "StepperMotor/Ananas/Ananas"]
	path = StepperMotor/Ananas/Ananas
	url = https://github.com/Dark-Guan/Ananas.git
[submodule "StepperMotor/Ananas/AnanasBoard"]
	path = StepperMotor/Ananas/AnanasBoard
	url = https://github.com/Dark-Guan/AnanasBoard.git
[submodule "StepperMotor/Ananas/AnanasStepper2.0-hardware"]
	path = StepperMotor/Ananas/AnanasStepper2.0-hardware
	url = https://github.com/Dark-Guan/AnanasStepper2.0-hardware.git
[submodule "StepperMotor/Ananas/David-3D-laserscanner-automitive-scan-program"]
	path = StepperMotor/Ananas/David-3D-laserscanner-automitive-scan-program
	url = https://github.com/Dark-Guan/David-3D-laserscanner-automitive-scan-program.git
